/*imported  poppins font family  from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* CSS variables */
:root {
  --clr-grey-dark: #323232;
  --clr-grey-medium: #aaaaaa;
  --clr-grey-light: #ececec;
  --clr-yellow: #ffb619;
  --clr-blue: #013e99;
  --clr-white: #fff;
  --clr-black: #000;
  --transition: all 0.3s linear;
  --radius: 0.25rem;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1100px;
  --font-family: Poppins;
}

/* common styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: var(--font-family);
  background-color: var(--clr-white);
  color: var(--clr-grey-dark);
  letter-spacing: 0.6px;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 1rem;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-grey-dark);
}
input,
textarea {
  font-size: 14px;
  color: var(--clr-grey-dark);
  font-family: var(--font-family);
  letter-spacing: 0.6px;
  background-color: var(--clr-white);
}
.btn {
  font-family: var(--font-family);
  letter-spacing: 0;
  background-color: var(--clr-yellow);
  color: var(--clr-white);
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0.9rem;
  height: 40px;
  width: 160px;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.7;
}
@media screen and (min-width: 600px) {
  .btn {
    font-size: 1rem;
    height: 45px;
    width: 180px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  line-height: 1.25;
}
p {
  line-height: 1.7;
  color: var(--clr-grey-medium);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

/* nav icons */
.nav-icons {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-grey-light);
  width: 100%;
  z-index: 2;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icons-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.nav-icons-center p {
  color: var(--clr-grey-dark);
}
.nav-icons-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.nav-icons-list svg {
  color: var(--clr-grey-dark);
  height: 15px;
  width: 15px;
}
@media screen and (min-width: 600px) {
  .nav-icons-center {
    justify-content: space-between;
    flex-direction: row;
  }
  .nav-icons-list svg {
    height: 20px;
    width: 20px;
  }
}

/* nav links */
.nav-links {
  margin-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-white);
  width: 100%;
  box-shadow: var(--dark-shadow);
  z-index: 2;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header .logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  letter-spacing: 0;
}
.nav-header img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.nav-header button {
  background-color: transparent;
  color: var(--clr-grey-dark);
  cursor: pointer;
  display: flex;
  border: none;
  align-items: center;
  transition: 0.2s all linear;
  padding: 0.1875rem;
  border-radius: 0.3125rem;
  justify-content: center;
  outline: none;
}
.nav-header button svg {
  font-size: 1.5rem;
}
.nav-header button:hover {
  color: var(--clr-white);
  background-color: var(--clr-grey-dark);
}
.nav-header button:hover svg {
  transform: scale(0.7);
}
.nav-links-list {
  display: none;
}
@media screen and (min-width: 600px) {
  .nav-header img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .nav-header button svg {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .nav-header button {
    display: none;
  }
  .nav-links-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .nav-links-list li a:hover {
    border-bottom: 3px solid var(--clr-grey-dark);
  }
  .nav-links-list li:last-child a:hover {
    border-bottom: none;
  }
  .nav-links-list li:last-child {
    font-size: 1.1rem;
  }
}

/* side bar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  transition: all 0.3s ease-out;
  transform: translate(100%);
  z-index: 3;
}
.show-sidebar {
  transform: translate(0);
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.sidebar-header button {
  background-color: transparent;
  color: var(--clr-grey-dark);
  cursor: pointer;
  display: flex;
  border: none;
  align-items: center;
  transition: 0.2s all linear;
  padding: 0.1875rem;
  border-radius: 0.3125rem;
  justify-content: center;
  outline: none;
}
.sidebar-header button svg {
  font-size: 1.5rem;
}
.sidebar-header button:hover {
  color: var(--clr-white);
  background-color: var(--clr-grey-dark);
}
.sidebar-header button:hover svg {
  transform: scale(0.7);
}
.sidebar-header img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.sidebar-links {
  margin-bottom: 2rem;
}
.sidebar-links a {
  display: block;
  padding: 1rem 1.5rem;
  transition: var(--transition);
}
.sidebar-links a:hover {
  padding-left: 2.5rem;
  background: var(--clr-grey-light);
}
@media screen and (min-width: 600px) {
  .sidebar-header img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .sidebar-header button svg {
    font-size: 2rem;
  }
}
@media screen and (min-width: 62rem) {
  .sidebar {
    display: none;
  }
}

/* main */
main {
  margin-top: 160px;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/hero-bg.webp");
  position: relative;
}
.hero-center {
  z-index: 1;
  display: grid;
  gap: 1.5rem 11rem;
  align-items: center;
  justify-content: center;
}
.hero-center article {
  padding-top: 4rem;
}
.hero-center img {
  width: 100%;
  object-fit: cover;
  height: 580px;
}
.hero-center article h2 {
  color: var(--clr-white);
  text-transform: capitalize;
}
.hero-center p {
  line-height: 2;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  max-width: 600px;
}
.hero-center {
  text-align: center;
}
.hero-center img {
  order: 1;
}
.hero-btn {
  border: 2px solid transparent;
}
.hero-btn:last-child {
  background-color: transparent;
  border-color: var(--clr-white);
  margin-left: 10px;
}
.hero-btn:last-child:hover {
  background-color: var(--clr-yellow);
  border-color: var(--clr-yellow);
}
@media screen and (min-width: 75rem) {
  .hero-center img {
    order: 0;
  }
  .hero-center {
    grid-template-columns: 1fr 2fr;
  }
  .hero-center p {
    margin-left: initial;
  }
  .hero-center {
    text-align: left;
  }
}

/* experience */
.experience {
  background-color: var(--clr-grey-light);
  text-align: center;
  padding: 2rem 0;
}
.experience-center p {
  color: var(--clr-grey-dark);
}
.experience-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .experience-center {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* choose  */
.choose {
  padding: 2.5rem 0;
  display: grid;
  gap: 1.5rem 3rem;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
}
.choose-img-container {
  width: 100%;
  height: 400px;
  border-radius: var(--radius);
  position: relative;
}
.choose-img-container img {
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  object-fit: cover;
}
.choose-heading {
  position: relative;
}
.choose-heading::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7px;
  height: 3px;
  width: 60px;
  background-color: var(--clr-blue);
}
.choose p {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.features {
  display: grid;
  gap: 2.5rem;
}
.feature {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.feature span {
  padding: 8px;
  border-radius: var(--radius);
  display: grid;
  place-items: center;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}
.feature span svg {
  font-size: 1rem;
}
.feature p {
  margin: 0;
}
.feature div h5 {
  margin-bottom: 5px;
}
@media screen and (min-width: 600px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 75rem) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .choose {
    grid-template-columns: 1.5fr 2fr;
  }
  .choose-img-container::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: -7%;
    left: -7%;
    z-index: -1;
    border-radius: var(--radius);
    border: 3px solid var(--clr-grey-medium);
  }
}

/* services */
.services {
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/services-bg.jpg");
  position: relative;
}
.services-center {
  z-index: 1;
}
.services-heading {
  color: var(--clr-white);
  margin-bottom: 40px;
  text-align: center;
}
.services-list {
  display: grid;
  gap: 2.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.service {
  background: transparent;
  padding: 1.5rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid var(--clr-blue);
  gap: 8px;
  transition: var(--transition);
}
.service span {
  color: var(--clr-white);
}
.service span svg {
  font-size: 1.8rem;
}
.service h5 {
  color: var(--clr-white);
}
.service p {
  max-width: 400px;
}
.service:hover {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  cursor: pointer;
}
.services-center button {
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 600px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .services-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* projects */
.projects {
  padding: 2.5rem 0;
}
.projects-center {
  text-align: center;
}
.projects-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 40px;
  transition: var(--transition);
}
.projects-links a:hover {
  color: var(--clr-yellow);
  text-decoration: underline;
  text-underline-offset: 5px;
}
.projects-list {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2.5rem;
}
.projects-heading {
  margin-bottom: 30px;
  text-align: center;
}
.project {
  position: relative;
  background: var(--clr-blue);
  height: 15rem;
  width: 100%;
}
.project-img {
  transition: var(--transition);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project:hover .project-img {
  opacity: 0.3;
}
.project-info {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.project-info svg {
  margin-top: 8px;
  font-size: 1.3rem;
}
.project-info {
  opacity: 0;
  z-index: 1;
  transition: var(--transition);
}
.project-info h5 {
  color: var(--clr-yellow);
}
.project-info svg:hover {
  cursor: pointer;
}
.project:hover .project-info {
  opacity: 1;
}
@media screen and (min-width: 600px) {
  .projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .projects-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* problem */
.problem {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/services-bg.jpg");
  position: relative;
}
.problem-center {
  z-index: 1;
  display: grid;
  gap: 1.5rem 11rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.problem-center img {
  height: 380px;
  margin: 0 auto;
  object-fit: cover;
}
.problem-center article h3 {
  color: var(--clr-white);
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1rem;
}
@media screen and (min-width: 75rem) {
  .problem-center {
    grid-template-columns: 1fr 1fr;
  }
  .problem-center {
    text-align: left;
  }
}

/* contact */
.contact {
  padding: 2rem 0;
  text-align: center;
  background-color: var(--clr-grey-light);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
}
.contact-center {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7rem;
}
.contact iframe {
  width: 100%;
  height: 280px;
}
.form-heading,
.map-heading {
  margin-bottom: 1rem;
}
.form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.form input,
textarea {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 2px solid transparent;
  outline: none;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}
textarea {
  height: unset;
  resize: none;
  padding: 10px;
}
.form input:focus,
textarea:focus {
  border-color: var(--clr-grey-medium);
}
::placeholder {
  color: var(--clr-grey-medium);
}
@media screen and (min-width: 992px) {
  .contact-center {
    text-align: left;
    grid-template-columns: 1fr 1fr;
  }
}

/* logos */
.logos-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0;
}
.logos-center img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid var(--clr-grey-medium);
  opacity: 0.6;
  transition: var(--transition);
}
.logos-center img:hover {
  opacity: 1;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .logos-center img {
    height: 90px;
    width: 90px;
  }
}

/* footer links */
.footer-links {
  background-color: var(--clr-grey-dark);
  padding: 2.5rem 0;
  text-transform: capitalize;
}
.footer-links li a{
  color: var(--clr-white);
}
.footer-links li a:hover{
  color: var(--clr-yellow);
}
.footer-links-center {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  color: var(--clr-white);
}
.footer-links-one ul li span:first-child {
  color: var(--clr-yellow);
}
.footer-links-one ul li span:nth-child(2) {
  text-transform: lowercase;
}
.footer-links ul li {
  margin-bottom: 20px;
}
.footer-links div h4 {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-links-center {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 870px) {
  .footer-links-center {
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .footer-links-center {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}
.footer-links-info {
  border: 0.5px solid var(--clr-yellow);
  padding: 20px;
  width: fit-content;
}
.footer-links-info span {
  color: var(--clr-yellow);
  font-weight: bold;
}
.footer-links-info h4 span {
  font-size: 30px;
}
.footer-links-info h5 {
  margin-bottom: 20px;
}
.footer-links-info span {
  font-weight: 400;
  text-transform: uppercase;
}

/* footer text*/
.footer-text {
  background: var(--clr-black);
}
.footer-text div {
  padding: 2rem 0;
  text-align: center;
  color: var(--clr-white);
}
.footer-text div span {
  color: var(--clr-yellow);
}
